{% extends 'vehicle/adminbase.html' %}



{% block content %}

<div class="form-container xyz">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Attendance of Mechanics on {{date}}</h3>
    </div>
    <div class="card-content">
      <table>
        <thead>
          <tr>
            <th>Mechanic Name</th>
            <th>Present/Absent</th>
          </tr>
        </thead>
        <tbody>
          {% for attendancedata, mechanicdata in mylist %}
          <tr>
            <td>{{mechanicdata.get_name}}</td>
            <td>{{attendancedata.present_status}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}

