{% extends 'vehicle/customerbase.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="form-container">
  <h3>Edit Your Profile</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="first_name">First Name</label>
    {% render_field userForm.first_name class="form-control" placeholder="First Name" %}

    <label for="last_name">Last Name</label>
    {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}

    <label for="mobile">Mobile</label>
    {% render_field customerForm.mobile class="form-control" placeholder="Mobile" %}

    <label for="address">Address</label>
    {% render_field customerForm.address class="form-control" placeholder="Address" %}

    <label for="username">Username</label>
    {% render_field userForm.username class="form-control" placeholder="Username" %}

    <label for="password">Password</label>
    {% render_field userForm.password class="form-control" placeholder="Password" %}

    <label for="profile_pic">Profile Picture</label>
    {% render_field customerForm.profile_pic class="form-control" %}

    <input type="submit" value="Save Profile Changes">
  </form>
</div>

{% endblock content %}
